* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: "Noto Sans", "Noto Sans TC", "Roboto", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  letter-spacing: 0.1px;
  color: #fff;
}
body.ajax-loading .loading {
  display: block;
}

.loading {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}
.loading::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  margin-left: -20px;
  border: 5px solid #CCC;
  border-top-color: transparent;
  border-radius: 50%;
  -webkit-animation: loading 1s infinite linear;
          animation: loading 1s infinite linear;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.mainWrap {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.creatSideBox {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
}
.creatSideBox .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
@media (max-width: 650px) {
  .creatSideBox .inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.creatSideBox .inner input[type=text] {
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding: 10px;
}
.creatSideBox .inner .btn {
  width: 150px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  padding: 10px;
  background-color: #3266e3;
  color: #FFF;
  cursor: pointer;
}
@media (max-width: 650px) {
  .creatSideBox .inner .btn {
    width: 100%;
  }
}

.infoBox {
  padding-top: 150px;
  padding-left: 50px;
  padding-right: 50px;
}
@media (max-width: 650px) {
  .infoBox {
    padding-top: 170px;
  }
}

.galleryBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 50px;
}
.galleryBox .gallery {
  width: 300px;
  margin: 10px;
  border: 1px solid #666;
}
.galleryBox .gallery .inner {
  position: relative;
  padding-bottom: 100%;
  overflow: hidden;
}
.galleryBox .gallery .inner .previewIframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.galleryBox .gallery .infoBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #111;
  padding: 10px;
}
.galleryBox .gallery .infoBox .name {
  width: 100%;
  margin-bottom: 5px;
}
.galleryBox .gallery .infoBox .author {
  color: #AAA;
  font-size: 10px;
}
.galleryBox .gallery .infoBox .date {
  color: #AAA;
  font-size: 10px;
}